{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Django Girls blog</title>
</head>
<body>
<div>
<h1><a href="/">Django Girls Blog</a></h1>
</div>
{%for post in post_list%}
<div>
<p>published: {{post.published_date}}</p>
<h2><a href="{% url 'blog:post_detail' post.id %}">{{post.title}}</a></h2>
{{post.text}}
</div>
{%endfor%}
</body>